* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blueviolet;
    font-family: sans-serif;
}

.container {
    width: 400px;
    padding: 2em;
}

input {
    width: 100%;
    padding: 10px;
    display: block;
    outline: none;
}

.output {
    margin-top: 2em;
}

/* js class */

.todo {
    border-left: 4px solid rgb(34, 187, 51);
    color: rgb(75, 75, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    background-color: white;
    padding: 10px 20px;
}